<% provide(:title, 'About Us') %>

	
	<div class="jumbotron gray">
     <h1 class="about">About ClubConnect</h1>
	 <p class="about"> 
	 	ClubConnect the Mobile Application that will change your life</p>
    <div class="img center">
     <%= link_to image_tag("Drawing.png", alt: "Rails logo")  %>
	</div>

   
	</div>
   
   	<div class="jumbotron blue">
	<h1 class="about">Latest News</h1>
	<p class="about">Keep up to date with everything happening in your club.</p>
	 <div class="img center">
	<%= link_to image_tag("LatestNews.png", height: "500", alt: "Rails logo")  %>
	</div>
	</div>
  
    <div class="jumbotron green">
	<h1 class="about">Whats On</h1>
	<p class="about">Day by day listings of events run by your Club. </p>
	 <div class="img center">
	<%= link_to image_tag("WhatsOn.png", height: "500", alt: "Rails logo")  %>
</div>
	</div>
    

    <div class="jumbotron red">
	<h1 class="about">Club Contact</h1>
	 <div class="img center">
	 	<p class="about">Keep in contact with Managers and People of Importance</p>
	<%= link_to image_tag("ClubContact.png", height: "500", alt: "Rails logo")  %>
	</div>
	</div>
	
	

	






    

