<% provide(:title, 'Contact') %>

	<div class="jumbotron">
<h1 class="about">Contact Us </h2>
	<div class="container">
<table class="table">
	<tr>
		<th>Contact Name</th>
		<th>Mobile</th>	
		<th>Email</th>
		<th>Address</th>		
	</tr>
	<tr>
		<td>Tommy Kavanagh</td>
		<td>0879537606</td>	
		<td>tomokav@live.ie</td>
		<td>83 Popular Drive Carriganard, Six Cross Road, Waterford</td>		
	</tr>

	</div>

</div>	