<% provide(:title, 'Developer') %>

	<div class="jumbotron">
<h1 class="about">Developer Deatils </h2>
	<div class="container">

<h2>Basic Details</h2>
<ul class="list-group smaller">
  <li class="list-group-item">Thomas Kavanagh</li>
  <li class="list-group-item">Student No. 20040581</li>
  <li class="list-group-item">02/10/1991</li>
  <li class="list-group-item">4th Year System Software Development</li>
  <li class="list-group-item">Waterford Institute of Technology</li>
</ul>

<h2>Education Details</h2>
<ul class="list-group smaller">
  <li class="list-group-item">Leaving Certificate (2009)</li>
  <li class="list-group-item">Bachcolar of Business and Recreation Management(2009-2012) WIT</li>
  <li class="list-group-item">Bachcolar of Science in Systems Software Development(2009-2012) WIT </li>

</ul>

<h2>Disclaimer</h2>
<ul class="list-group smaller">
  <li class="list-group-item">This website was put togehter as part of a module called: Web Server Development. Students were expected to put together a website running Ruby on Rails, with all the features learned during practical classes. The module was over looked by lecturer Diarmuid O'Connor, associated with the School of Science in Waterford's Institute of Technology.</li>
  
</ul>
	</div>

</div>	